In [ ]:
%matplotlib inline

In [ ]:
import pandas as pd
import numpy as np
from validate import *

# Pandas

- built on top of Numpy array, which means they are fast
- a Data Frame is a container of Series
- all Pandas data structures are value mutable (can be changed)
- all _except_ for Series all are size mutable
  - Series is size immutable
  
I've broken up the notebook into four sections

1. Instantiation: Which simply goes over different ways to create a series or data frame object. This is purposefully basic to illustrate how there are many ways to import your data.
2. Accessing Data: Which walks through different operations you can apply on a data frame. There is no coherent big picture in this section and simply walks through some useful commands.
3. Working With A Dataset: This is the main section of this notebook. We'll be using the Titanic training dataset as a source of data to explore. Some of the python code will be provided, while other pieces will be blank and ask you to figure out how to complete each task.
4. `eval` and `query`: We'll walk through the usages of these two performant methods.
5. Challenges: If you're experienced with Pandas or just want to work through problems, skip to this section.

## Table of Contents

- [Instantiation Series](#Instantiation-Series)
- [Accessing Data Series](#Accessing-Data-Series)
- [Instantiation Data Frame](#Instantiation-Data-Frame)
- [Accessing Data Data Frame](#Accessing-Data-Data-Frame)
- [Working With A Dataset](#Working-With-A-Dataset)
- [Eval and Query](#eval-and-query)
- [Challenges](#Challenges)

## Instantiation

The following shows different ways to create your series and data frames. If you're familiar with pandas, I suggest moving down to the `Working With A Dataset` section. However, its important to be able to easily create your objects, that way its as quick and painless to start using the full power of Pandas.

<a id='Instantiation-Series'></a>

### Series

One-dimensional ndarray with axis labels. Multiple series act as the columns that make up a data frame.

Full documentation on series available [here](https://pandas.pydata.org/pandas-docs/version/0.24/reference/series.html)

#### Creation From List

In [ ]:
data = np.array(['a','b','c','d'])
series = pd.Series(data)

series

_Note: That the indexes are provided by default_

#### Creation From Dictionary

In [ ]:
data = {'a' : 0, 'b' : 1, 'c' : 2}
series = pd.Series(data)

series

In this scenario, the `key`s in our `Dictionary` act as the indicies in our newly created `Series`

<a id='Accessing-Data-Series'></a>

#### Accessing Data

Data can be accessed much like an array or list:

In [ ]:
series[0]

Slicing works as well:

In [ ]:
series[1:3]

As well does accessing by key:

In [ ]:
series['a']

There's plenty of other things we could go over, but there are better resources online for these generic topics. Check the `References` section at the end for what I used to write this, if you want to learn more or go over more examples.

<a id=Instantiation-Data-Frame></a>

### Dataframe

A data frame can be thought of as a collection of series. They are the main object you'll interact with when using Pandas.

Full documentation on data frame available [here](https://pandas.pydata.org/pandas-docs/version/0.24/reference/frame.html)

To begin working with Pandas, you'll first need to create a data frame. There are a number of ways to accomplish this:

#### Creation From A List

You can create a data frame from a list of lists to indicate the separation of rows.

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data)

df

While its not required to name the columns at creation, I'd suggest doing so like this:

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data, columns=["Name", "Age"])

df

If you provide the column names, pandas will store them as the headers.

#### Creation From A Dictionary

In [ ]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)

df

Just like creating a series from a dictionary, you can do the same with a data frame. You can even set the indices:

In [ ]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])

df

#### Creation From Series

You can even create a data frame from series

In [ ]:
series_one = pd.Series([1, 2, 3]) 
series_two = pd.Series([4, 5, 6])

df = pd.DataFrame([series_one, series_two])

df

And here's how you'd do it with column titles:

In [ ]:
series_one = pd.Series([1, 2, 3]) 
series_two = pd.Series([4, 5, 6])

df = pd.DataFrame([series_one, series_two], columns=["First Column Title", "Second Column Title"])

df

#### From a SQL query, targeting a SQL database

The snippet of code has purposefully been set to a `raw` cell, as it will fail to run. _(I was unable to setup a SQL instance for us to play with in time)_

You can create a data frame from a SQL query. In my exampel below, I'd use `sqlalchemy` to communicate with my remote SQL database.

from sqlalchemy import create_engine

USER = "some_fake_user_name"
PASSWORD = "some_fake_pasword"
HOST = "some_fake_host"
DATABASE = "some_fake_database"
QUERY = "SELECT * FROM users"

ENGINE = create_engine(f"mysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}", echo=False)
df = pd.read_query(QUERY, con=ENGINE)

#### From a CSV or other flat file

One of the most frequent ways you'll load smaller amounts of data is through parsing a flat file, generally a `csv`. This is very easy to do:

In [ ]:
INPUT_FILE = "train.csv"

df = pd.read_csv(INPUT_FILE)

<a id='Accessing-Data-Data-Frame'></a>

#### Accessing Data

We'll go more in depth in the section `Working With A Dataset`, but some useful commands are:

##### If-Then

Here well perform a single conditional on every row in the table and write back some value to the data frame based on that conditional. 

We could create a new dummy column that's just a bool for those who are older the 35.0

In [ ]:
df.loc[df.Age > 35.0, 'Older Than 35'] = True

In [ ]:
df.head()

##### Selection

We can grab only rows that are of interest of us. Lets look at only individuals that survived:

In [ ]:
df[(df.Survived == 1)]

##### Sorting By Multiple Columns

We can sort by first `Age` and then `Survival`:

In [ ]:
df.sort_values(by=["Age", "Survived"], ascending=True)

##### Working With Missing Data

Often times your dataset will not be cleaned, so you'll have to investigate which columns have missing data and decide how to handle it. Some models can accept missing data and should work as is, but often times applying a technique to these missing values _may_ increase your performance.

I often peak at `info`, as if it describes a column as `non-null`, than you know there's a value in every row:

In [ ]:
df.info()

If we had missing data, the functions `dropna`,  `fillna` and `isna` can be very useful.

##### Iterating

Sometimes you want to iterate through every row. While this generally isn't a good habbit to get into as your data size increases, you can do it:

In [ ]:
for index, row in list(df.iterrows())[0:5]:
    # here we can access the rows we're interested in
    print(f"{row.Name} is {row.Age} years old")

<a id='Working-With-A-Dataset'></a>

## Working With A Dataset

This section will involve a mixture of code you can run to see how it works and challenges that will prompt you to do a specific task. I may not have explained how to do something, so give it a try and google things you don't know. Failing to answer the challenge correctly should give you a hint. Part of this section is to get you comfortable with googling something you haven't done before and generally looking at the Pandas documentation or a stack overflow post for the answer, as no one hour session will prepare you for anything.

Challenges will be denoted in bold and can be run to get a hint.

Lets recreate our dataframe by loading in the titanic training data set and walk through how we can use Pandas to interact with this data.

Lets start by creating our dataframe from our input file:

In [ ]:
INPUT_FILE = "train.csv"

df = pd.read_csv(INPUT_FILE)

You should get in the habbit of inspecting your data frame as early as possible. I generally use four functions to get an idea of my data.

In [ ]:
df.info()

This function's output should show you:

- how many rows
- how many columns
- each column's
  - name
  - whether or not they are null
  - the underlying type (sometimes Pandas can get this wrong, and you can set the column's type by looking into the `dtype` of the column)
- how much memory is used by this data frame (data frames can use upwards for four to five times the data set's size in memory)

In [ ]:
df.describe()

This method will walk through some interesting calculations for each column. While some data sets can be to large to visualize with graphs, the `describe` method can help you visualize what the data will look like by reading the `mean`, `std` and `median` also known as the `50%` of each column.

In [ ]:
df.head()

I generally like to look at a few rows of the data, to just see if anything jumps out at me. For example, in the past I did not realize the encoding of my `String`s for a column were completly wrong. If I were to try to do any selection or filter logic based on a `String`, I would have gotten 0 results.

Now lets generate a scatter matrix!

_Note, this might take upwards of a minute to compute on older hardware. Sorry!_

In [ ]:
pd.plotting.scatter_matrix(df, alpha=0.2, figsize=(25, 25))

I bet some would argue how useful the above graph is, but I find it to be useful for smaller data sets. This can be a handy way for looking at every row against every other row. Note that the center is where each column meets itself, so a histogram is displayed. Each side of the histogram is just a mirror image of the other side.

The usefulness of this graph greatly depends on how many columns you have. If your working with a large dataset, I would probably recommend not even running the above command, as it can take quite a while.

_Note: we can see that hte first column is the `id` and looks evenly distributed. This type of column should **not** be in a graph like this, as any correlation to the data shoulnd't be related, as ids **should** be assigned seemingly randomly. Sometimes and `id` column can provide value, as the `id` can have some indication of when the row was added, if there wasn't any `date` like column._

After getting a general idea about the data set as a whole, I'll generally pick a few columns of interest and explore them specifically. Lets take `Pclass` as an example. Say we wanted to know the unique values in this column, instead of writing a custom python function, we can instead:

In [ ]:
df.Pclass.value_counts().sort_index()

While the data represented in the output above can somewhat be understood from `info` and `describe`, getting the whole unique listing can be useful. Here we can see that `Pclass` describes which class the ticket purchaser was in and there were three classes, `1`, `2` and `3`.

<a id='eval-and-query'></a>

## `eval` and `query`

By special request, I will be talking about the two operations in Pandas that can help you squeeze out performance when working with data frames. Lets first look at how we'd normally sum two data frames and check how long that it takes.

First we'll make the random data

In [ ]:
rng = np.random.RandomState(42)
x = rng.rand(1000)
y = rng.rand(1000)

Now we'll add the two datagrames using list comprehension, that most Python developers are used to doing:

In [ ]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))

Take note of how long it took per loop above.

Now we can execute an logically equivalent statement, but this will utilize vector operations, which are generally much faster:

In [ ]:
%timeit x + y

This same idea can be applied to other operations using `eval` and `query`. Lets take a look:

### [`eval`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.eval.html)

The `eval` function will evaluate a str, parsing it and applying any of the following operations

> +, -, *, /, **, %, //, |, &, ~

First we'll generate four data frames to use for testing

In [ ]:
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols))
                      for i in range(4))

Then we'll sum our data frames again using a normal approach that most would take:

In [ ]:
%timeit df1 + df2 + df3 + df4

Note the time it took per loop above. 

Now we'll levarage the power of `eval` to perform a logically equivalent procedure:

In [ ]:
%timeit pd.eval('df1 + df2 + df3 + df4')

The above speed shuld be quicker. In demonstrations I've seen online, they've experienced a much faster speedup. What's not displayed here is a smaller memory foot print as well.

When doing this on my machine, the speedup seemed miniscule at best, but don't let that fool you. Its a more performant technique, that gets only better as the amount of data increases. There are a lot more uses for `eval`, but this is merely an introduction. Please check the references for additional learning material.

### [`query`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

`query` is a Pandas function to operate on columns. Its also used to increase performance and decrease one's memory footprint. First lets generate some data:

In [ ]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])

Lets say we were interested only in rows whose `A` value was less than `0.5` and whose `B` value was less than `0.5`. To do this with Pandas, one might run:

In [ ]:
%timeit result1 = df[(df.A < 0.5) & (df.B < 0.5)]

A logically equivalent operation with `query` would look like the following:

In [ ]:
%timeit result2 = df.query('A < 0.5 and B < 0.5')

The main take away is these operations should be used when you're considering your memory usage and cpu usage of a big operation, especially when you have a lot data. 

The above operation using `eval` and `query` would be much quicker, if the data we were working with was larger and more closely sized to the amount of RAM we had available. This is due to the reduced memory usage of the operations, allowing our computations to exist in RAM, where other attempts might invoke swap which is a performance nightmare.

<a id="Challenges"></a>

## Challenges

Below begins the challenges that you should work in a group to complete. Each challenge may have many ways to come to the conclusion, all of which _should_ be accepted. If my `validation` functions break, please let me know, as I intended for it to be as problem free as possible for an individual.

If you're stuck, simply run the cell to fell the validation and get back some hint text to help you out!

The next cell will reset the object `df`, so its the original train set. Please don't modify `df`, so you can use it for each challenge.

In [ ]:
INPUT_FILE = "train.csv"

df = pd.read_csv(INPUT_FILE)

**Challenge 0: Let's start by trying to get the first row of the data frame. The type will also be a data frame**

In [ ]:
first_row_of_df = None # REPLACE None WITH YOUR ANSWER

validate_first_row_of_df(first_row_of_df)

**Challenge 1: Create a new data frame of all individuals that had a fare of > 30.0**

In [ ]:
fare_greater_than_30_df = None # REPLACE None WITH YOUR ANSWER

validate_fare_greater_than_30(fare_greater_than_30_df)

**Challenge 2: Calculate the sum of everyone's age in the data frame**

In [ ]:
sum_of_everyones_age_int = None # REPLACE none WITH YOUR ANSWER

validate_everyones_age(sum_of_everyones_age_int)

**Challenge 3: Can you do the above challenge a different way?**

In [ ]:
sum_of_everyones_age_int = None # REPLACE none WITH YOUR ANSWER

validate_everyones_age(sum_of_everyones_age_int)

**Challenge 4: Create a series of only the column `Cabin`**

In [ ]:
cabin_series = None # REPLACE none WITH YOUR ANSWER

validate_only_cabin_series(cabin_series)

**Challenge 5: Get the value at the first row, column `Sex`**

In [ ]:
value = None # REPLACE none WITH YOUR ANSWER

validate_value_of_sex_column_first_row(value)

**Challenge 6: What is the minimum age of the data set?**

In [ ]:
min_age = None # REPLACE none WITH YOUR ANSWER

validate_min_age(min_age)

**Challenge 7: What is the maximum age of the data set?**

In [ ]:
max_age = None # REPLACE none WITH YOUR ANSWER

validate_max_age(max_age)

**Challenge 8: Create a pivote table. The `Pclass` column should be your index, while the `Sex` column should be your column and the summed `Survived` column should be your value. What take aways do you have from this data?**

In [ ]:
pivot_table = None # REPLACE none WITH YOUR ANSWER

validate_pivot_table_pclass_sex_survived(pivot_table)

**Challenge 9: Create another pivot table, like above, and just replace the summed `Survived` with mean `Fare`. What take aways do you have?**

In [ ]:
pivot_table = None # REPLACE none WITH YOUR ANSWER

validate_pivot_table_pclass_sex_fare(pivot_table)

**Challenge 10: Inverse the data frame.**

In [ ]:
transposed_df = None # REPLACE none WITH YOUR ANSWER

validate_transpose(transposed_df)

**Challenge 11: Remove the `Age` column.**

In [ ]:
df_without_age = None # REPLACE none WITH YOUR ANSWER

validate_age_removed(df_without_age)

**Challenge 12: Rename the `Age` column to `How Old`**

In [ ]:
df_age_renamed_df = None # REPLACE none WITH YOUR ANSWER

validate_age_column_renamed_to_how_old(df_age_renamed_df)

**Challenge 13: Select only the bottom 5 rows**

In [ ]:
last_five_rows_df = None # REPLACE none WITH YOUR ANSWER

validate_last_five_rows(last_five_rows_df)

**Challenge 14: Select the `Age` and `Sex` column**

In [ ]:
age_and_sex_columns_df = None # REPLACE none WITH YOUR ANSWER

validate_only_age_and_sex_columns(age_and_sex_columns_df)

**Challenge 15: Select only Males who are older than 50 and in Pclass 3**

In [ ]:
males_over_50_pclass_3 = None # REPLACE none WITH YOUR ANSWER

validate_males_over_50_in_pclass_3(males_over_50_pclass_3)

**Challenge 16: Add a new column called `Wealthy` and set it to `True` for those in `Pclass` == 3 and `False` for all others**

In [ ]:
def new_wealthy_column(x):
    pass # REPLACE ME WITH SOME LOGIC AND USE THIS FUNCTION

new_df_with_wealthy_column = None # REPLACE none WITH YOUR ANSWER

validate_new_wealthy_column(new_df_with_wealthy_column)

The following three challenges have no validation functions, as I ran out of time and wasn't able to implement them, as they're of type `matplotlib.axes._subplots.AxesSubplot`

**Challenge 17: Create a historgram of the `Age` column**

In [ ]:
age_histogram = None # REPLACE none WITH YOUR ANSWER

age_histogram

**Challenge 18: Create a bar plot of the `Age` column**

_Note, this might take upwards of a minute to compute on older hardware. Sorry!_

In [ ]:
age_bar_plot = None # REPLACE none WITH YOUR ANSWER

age_bar_plot

**Challenge 19: Create a box plot of the `Age` column**

In [ ]:
age_box_plot = None # REPLACE none WITH YOUR ANSWER

age_box_plot

For the next three challenges, I recommend the following [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) as a resource. I have to look this up **every** time I attempt to do any of these operations.

I'll also generate some data for us to use:

In [ ]:
nrows, ncols = 10, 3
rng = np.random.RandomState(42)
df1, df2 = (pd.DataFrame(rng.rand(nrows, ncols))
                      for i in range(2))

**Challenge 20: Append `df2` to the end of `df1`. Pleae don't perserve indexes.**

In [ ]:
appended_df = None # REPLACE none WITH YOUR ANSWER

validate_append(appended_df)

**Challenge 21: Write the data frame to a csv file**

In [ ]:
csv_return_value = None # REPLACE none WITH YOUR ANSWER

validate_csv_output(csv_return_value)

**Challenge 21: Write the data frame to a json file**

In [ ]:
json_return_value = None # REPLACE none WITH YOUR ANSWER

validate_json_output(json_return_value)

**Challenge 22: Write the data frame to a html file**

In [ ]:
html_return_value = None # REPLACE none WITH YOUR ANSWER

validate_html_output(html_return_value)

## Improvements?

If there's something I can improve, please either reach out to me, or feel free to submit a pull request.

Additionally, if you have completed the notebook in the allotted time, feel free to come up with your own challenges and let me know about them or submit a pull request to [here](https://github.com/GregHilston/ds_pandas_presentation) and I'll gladly add them!

## References

- https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html
  - https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
  - https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook
  - http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
- https://jakevdp.github.io/PythonDataScienceHandbook/03.12-performance-eval-and-query.html
- https://www.tutorialspoint.com/python_pandas/
- https://github.com/TiesdeKok/LearnPythonforResearch/blob/master/2_handling_data.ipynb
- https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428
- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html